# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.github
out
.idea
debug1
Design Patern Sample.iml
OpenSSH_8.1p1,
